<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="SAPRFCService">
	<Appenders>
		<RollingFile name="RollingFile"
			fileName="logs/service.log"
			filePattern="logs/$${date:yyyy-MM}/service-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="20 MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>